[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MDFS"]
	path = MDFS
	url = https://github.com/cran/MDFS
	shallow = true
	registered = true
[submodule "RAFS"]
	path = RAFS
	url = https://github.com/cran/RAFS
	shallow = true
	registered = true
